@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	h1, h2, h3, h4, h5, h6 {
		font-family: 'Playfair Display', serif;
	}
	
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.primary.900');
    border-right-color: theme('colors.primary.200');
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.primary.200');
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

	.button-icon {
		z-index: 10;
		background: none;
		padding: 0.6rem;
		border-radius: 2.5rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		transition: all 0.2s;
	
		&:hover {
			background-color: theme('colors.accent.500');
		}
	
		& svg {
			width: 2.2rem;
			height: 2.2rem;
			color: theme('colors.primary.800');
		}		
	}

	.link-with-icon {
		
		& svg {
			width: 2rem;
			height: 2rem;
			color: theme('colors.primary.500');
			transition: all 0.3s;
		}
	
		&:hover svg,
		&:active svg,
		&.active:link svg,
		&.active:visited svg {
			color: theme('colors.accent.700');
		}
	}
}
